<%- include('../header.ejs') -%>
<body>
    <div class="container-fluid">
        <div class="row">
            <%- include('../nav.ejs') -%>
            <div class="col-sm p-3 min-vh-100">
                <div class="container comments_container">
                    <div class="row mt-3">
                        <h3><%= post.user %> </h3>
                        <h3><%= post.title %> </h3>
                        <h5><%= post.text %></h5>
                    </div>
                    <% comments.forEach(function(comment, i){ %>
                    <div class="row mt-3 <% if (comment.user == currentUser) { __append('comment_right') } %>">
                        <h3><%= comment.user %> </h3>
                        <h5><%= comment.text %></h5>
                    </div>
                    <% }); %>
                    <div class="row mt-5 comment_send">
                        <form action="/comments/comment/<%= post.id %>/new" method="post">
                            <div>
                                <input type="text" name="comment" id="" placeholder="Type your message here..."> <button type="submit"><svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M26 1L12.25 14.75" stroke="#F2F2F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M26 1L17.25 26L12.25 14.75L1 9.75L26 1Z" stroke="#F2F2F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!-- <script>
        
        window.onload=function() {
        const eform = document.querySelector('form');
        eform.addEventListener('submit', event =>{
            event.preventDefault();

            const formData = new FormData(eform);
            const data = Object.fromEntries(formData);

            fetch('http://localhost:3000/api/v1/auth/login', {
                method: 'POST',
                credentials: "include",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)

            }).then(res => res.json())
            .then(data => console.log(data))
            .catch(error => console.log(error));

        })
    }
    </script> -->
</body>
</html>